name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: pip

      - run: python -m pip install -U pip tox
      - run: tox -q

  publish:
    needs: [quality]
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    environment:
      name: pypi

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Build
        run: |
          python -m pip install -U pip build
          python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
